html, body {
  font-family: 'Roboto', sans-serif;
  height:100%;
  margin: 0;
  padding: 0;
}

html, body, #map {
  height: 100%;
  width: 100vw;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  margin: 16px;
  min-width: 36px;
}

/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
}

  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  height: -webkit-fill-available;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.fill {
  height: 100% !important;
}

#login-card {
  max-width: 400px;
}

.hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey;
  z-index: 0;
}

.hint.icon {
  left: 36px;
}

.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0;
}

.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1;
}

md-toast.md-center {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

md-virtual-repeat-container {
  z-index: 1000 !important;
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

.leaflet-popup-content-wrapper {
  border-radius:0 !important;
}

.leaflet-popup-content {
  margin: 0 !important;
}

.popupStyle img {
    vertical-align: top;
}

.popupStyle span {
    padding: 0 0.7em 0 0.7em;
    font-size: 1.4em;
}

/* sidenav*/
md-sidenav {
  z-index: 1000 !important;
}

md-sidenav img {
  margin: 0px !important;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 400px !important;
  width: 85vw !important;
  max-width: 500px !important;
}

/* multiselect*/
/*.checkboxLayer {
  width: 225px;
}

.multiSelect .checkboxLayer {
  min-width: 225px !important;
}*/

#filterMenu .filterItem{
  margin: 15px 5px 15px 5px;
  display: flex;
  align-items: center;
}


.failure{
  background:#ff3939;
  color:#f0f0f0;
  text-align: center;
  padding: 5px;
  font-weight:bold;
}

.hidePlayer{
    position: absolute;
    z-index: -1;
}
